Language: Cpp
BasedOnStyle: LLVM
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '".*\.(h|hpp|hh)"'
    Priority: 1
  - Regex: '<(nlohmann/|spdlog/|GL/|imgui|).*\.(h|hpp|hh)>'
    Priority: 3
  - Regex: '<.*\.(h|hpp|hh)>'
    Priority: 2
  - Regex: '<.*>'
    Priority: 4